.side-bar
  .side-header
    .side-header__box
      .side-header__box--user-name
        %P
          = current_user.name
      .side-header__box--menu
        .side-header__box--menu-new-group
          = link_to new_group_path do
            %i.far.fa-edit
        .side-header__box--menu-edit-user
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .side-main
    .side-main__group
      - current_user.groups.each do |group|
        = link_to '#' do
          .side-main__group--title
            %p
              = group.name
          .side-main__group--message
            %p メッセージはまだありません。